<div class="modal__header modal__header--flex">
    <div class="modal__sliding-toolbar" ng-show="data.isDirty">
        <div class="sliding-toolbar__inner"></div>
        <a class="btn" ng-click="data.isDirty = false" translate>Cancel</a>
        <a class="btn btn--primary" ng-click="done()" ng-disabled="!saveIsEnabled()">Save</a>
    </div>

    <h3 class="modal__heading modal__heading--no-grow">{{ :: data.editable ? activity.label : 'View Crop' | translate }}</h3>

    <div class="modal__header-buttons  modal__header-buttons--center modal__header-element-grow button-nav" ng-init="nav = 'view'; showMetadata = true">
        <button class="button-nav__btn" ng-click="nav = 'view'; showMetadata = true" ng-class="{'button-nav__btn--active' : nav === 'view'}" ng-disabled="isAoISelectionModeEnabled" translate>Details</button>
        <button class="button-nav__btn" ng-click="nav = 'image-edit'; showMetadata = true" ng-class="{'button-nav__btn--active': nav === 'image-edit'}" ng-disabled="isAoISelectionModeEnabled" translate>Edit image</button>
        <button class="button-nav__btn" ng-click="nav = 'crop'; showMetadata = false" ng-class="{'button-nav__btn--active': nav === 'crop'}" ng-disabled="isAoISelectionModeEnabled" translate>Edit crops</button>
    </div>

    <div class="modal__header-buttons modal__header-buttons--right">
        <button class="btn btn--ui-dark btn--hollow" ng-click="close()" ng-disabled="isAoISelectionModeEnabled">{{ 'Close' | translate }}</button>
    </div>
</div>

<div class="modal__body modal__body--no-padding">
    <div class="sd-column-box--2">
        <div class="sd-column-box__main-column sd-column-box__main-column--photo-preview">
            <a class="sd-photo-preview__slide-in-button" ng-show="!showMetadata" ng-click="showMetadata = !showMetadata" data-sd-tooltip="Open metadata" data-flow="left">
                <i class="icon-backward-thin"></i>
            </a>
            <div class="sd-photo-preview" ng-if="nav === 'view'">
                <div class="sd-photo-preview__image">
                    <img ng-src="{{data.item.renditions.original.href}}">
                </div>
            </div>

            <div class="sd-photo-preview sd-photo-preview__edit-mode" ng-if="nav === 'image-edit'">
                <div class="sd-photo-preview__image">
                    <label ng-if="isAoISelectionModeEnabled" class="field-label">
                        <span translate>New size</span>
                        <span class="size">
                            {{ areaOfInterestData.CropRight - areaOfInterestData.CropLeft}}
                            x {{ areaOfInterestData.CropBottom - areaOfInterestData.CropTop}}
                        </span>
                    </label>
                    <div class="modal-body__flex-loader" ng-if="loaderForAoI"></div>
                    <div sd-image-crop
                         data-show-min-size-error="true"
                         data-src="data.item.renditions.viewImage.href"
                         data-original="data.item.renditions.original"
                         data-crop-data="areaOfInterestData"
                         data-on-change="enableSaveAreaOfInterest()"
                         ng-if="isAoISelectionModeEnabled && !loaderForAoI">
                    </div>

                    <sd-image-modify
                        data-src="data.item.renditions.viewImage.href"
                        data-brightness="controls.brightness"
                        data-contrast="controls.contrast"
                        data-grayscale="controls.grayscale"
                        data-rotate="controls.rotate"
                        ng-if="!isAoISelectionModeEnabled && !loaderForAoI">
                    </sd-image-modify>

                </div>
            </div>
            <div class="sd-photo-preview sd-photo-preview__edit-mode" ng-if="nav === 'crop'">
                <div class="sd-photo-preview__image" ng-if="!selectedRendition">
                    <label class="field-label">
                        <span translate>Original</span>
                        <span class="size">
                            {{ data.item.renditions.original.width}} x {{ data.item.renditions.original.height}}
                        </span>
                    </label>
                    <sd-image-point
                        data-src="data.item.renditions.viewImage.href"
                        data-poi="data.poi"
                        data-on-change="data.isDirty = true">
                    </sd-image-point>
                </div>
                <div class="crop-area selected" ng-if="selectedRendition">
                    <label class="field-label">{{ selectedRendition.name}}</label>
                    <div sd-image-crop
                         data-show-Min-Size-Error="true"
                         data-src="data.item.renditions.viewImage.href"
                         data-original="data.item.renditions.original"
                         data-rendition="selectedRendition"
                         data-crop-data="data.cropData[selectedRendition.name]"
                         data-on-change="onChange(renditionName, cropData)">
                    </div>
                </div>

                <div class="sd-photo-preview__thumb-strip">
                    <div class="sd-grid-list dark-ui">

                        <div class="sd-grid-item sd-grid-item--with-click" ng-click="selectRendition()" ng-class="{active: selectedRendition === null}">
                            <div class="sd-grid-item__thumb">
                                <sd-image-point
                                    data-src="data.item.renditions.viewImage.href"
                                    data-poi="data.poi"
                                    data-on-change="data.isDirty = true">
                                </sd-image-point>
                            </div>
                            <div class="sd-grid-item__content">
                                <span>Original</span>
                            </div>
                        </div>

                        <div class="sd-grid-item sd-grid-item--with-click" ng-repeat="rendition in data.renditions track by rendition.name" ng-click="selectRendition(rendition)" ng-class="{active: rendition === selectedRendition}">
                            <div class="sd-grid-item__thumb">
                                <div sd-image-crop
                                     data-show-Min-Size-Error="true"
                                     data-src="data.item.renditions.viewImage.href"
                                     data-original="data.item.renditions.original"
                                     data-rendition="rendition"
                                     data-crop-init="data.item.renditions[rendition.name]"
                                     data-crop-data="data.cropData[rendition.name]"
                                     data-on-change="onChange(renditionName, cropData)">
                                </div>
                            </div>
                            <div class="sd-grid-item__content">
                                <span>{{rendition.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="sd-column-box__slide-in-column sd-column-box__slide-in-column--large sd-column-box__slide-in-column--dark-ui" ng-class="{'sd-column-box__slide-in-column--closed' : !showMetadata}">
            <div class="sd-column-box__slide-in-column-inner sd-slide-in-panel">
                <div class="sd-slide-in-panel__header">
                    <h3 class="sd-slide-in-panel__heading" ng-if="nav !== 'image-edit'" translate>Metadata</h3>
                    <h3 class="sd-slide-in-panel__heading" ng-if="nav === 'image-edit'" translate>Controls</h3>
                    <a class="icn-btn sd-slide-in-panel__close" sd-tooltip="Close details" flow="top" ng-click="showMetadata = !showMetadata"><i class="icon-close-small"></i></a>
                </div>
                <div class="sd-slide-in-panel__content" ng-if="nav !== 'image-edit'">
                    <div class="sd-slide-in-panel__content-block sd-slide-in-panel__content-block--first">
                        <div class="form__row" ng-if="validator.headline">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.headline.required}">
                                <label class="sd-line-input__label" translate>Title</label>
                                <input class="sd-line-input__input" type="text" ng-model="data.metadata.headline" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                                <div class="sd-line-input__char-count" ng-if="validator.headline.maxlength" sd-character-count data-item="data.metadata.headline" data-limit="validator.headline.maxlength" data-html="true"></div>
                            </div>
                        </div>
                        <div class="form__row" ng-if="validator.description_text">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.description_text.required}">
                                <label class="sd-line-input__label" translate>Description</label>
                                <textarea class="sd-line-input__input" ng-model="data.metadata.description_text" ng-change="data.isDirty = true" ng-disabled="!data.editable" sd-auto-height></textarea>
                                <div class="sd-line-input__char-count" ng-if="validator.description_text.maxlength" sd-character-count data-item="data.metadata.description_text" data-limit="validator.description_text.maxlength" data-html="true"></div>
                            </div>
                        </div>
                        <div class="form__row" ng-if="!data.isAssociated && validator.archive_description">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.archive_description.required}">
                                <label class="sd-line-input__label" translate>Description</label>
                                <textarea class="sd-line-input__input" ng-model="data.metadata.archive_description" ng-change="data.isDirty = true" ng-disabled="!data.editable" sd-auto-height></textarea>
                                <div class="sd-line-input__char-count" ng-if="validator.archive_description.maxlength" sd-character-count data-item="data.metadata.archive_description" data-limit="validator.archive_description.maxlength" data-html="true"></div>
                            </div>
                        </div>
                        <div class="form__row" ng-if="data.isAssociated && validator.archive_description">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
                                <label class="sd-line-input__label" translate>Description</label>
                                <div>{{ data.metadata.archive_description}}</div>
                            </div>
                        </div>
                        <div class="form__row" ng-if="validator.alt_text">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.alt_text.required}">
                                <label class="sd-line-input__label" translate>Alt Text</label>
                                <input class="sd-line-input__input" type="text" ng-model="data.metadata.alt_text" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                                <div class="sd-line-input__char-count" ng-if="validator.alt_text.maxlength" sd-character-count data-item="data.metadata.alt_text" data-limit="validator.alt_text.maxlength" data-html="true"></div>
                            </div>
                        </div>
                        <div class="form__row" ng-if="validator.byline">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.byline.required}">
                                <label class="sd-line-input__label" translate>Credit</label>
                                <input class="sd-line-input__input" type="text" ng-model="data.metadata.byline" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                            </div>
                        </div>
                        <div class="form__row" ng-if="validator.copyrightholder">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.copyrightholder.required}">
                                <label class="sd-line-input__label" translate>Copyright holder</label>
                                <input class="sd-line-input__input" type="text" ng-model="data.metadata.copyrightholder" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                            </div>
                        </div>
                        <div class="form__row" ng-if="validator.usageterms">
                            <div class="sd-line-input sd-line-input--is-select sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.usageterms.required}">
                                <label class="sd-line-input__label" translate>Assign Rights</label>
                                <select class="sd-line-input__select" ng-model="data.metadata.usageterms" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                                    <option translate value=""></option> <!-- not selected / blank option -->
                                    <option translate value="single-usage">Single Usage</option>
                                    <option translate value="time-restricted">Time Restricted</option>
                                    <option translate value="indefinite-usage">Indefinite Usage</option>
                                </select>
                            </div>
                        </div>
                        <div class="form__row" ng-if="validator.copyrightnotice">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed" ng-class="{'sd-line-input--required':validator.copyrightnotice.required}">
                                <label class="sd-line-input__label" translate>Copyright notice</label>
                                <input class="sd-line-input__input" type="text" ng-model="data.metadata.copyrightnotice" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sd-slide-in-panel__content" ng-if="nav === 'image-edit'">
                    <div class="sd-slide-in-panel__content-block sd-slide-in-panel__content-block--first">
                        <div class="modal__sliding-toolbar" ng-if="isAoISelectionModeEnabled && !loaderForAoI">
                            <div class="sliding-toolbar__inner"></div>
                            <a class="btn" ng-click="showAreaOfInterestView(false)" translate>Cancel</a>
                            <a class="btn btn--primary" ng-click="saveAreaOfInterest(areaOfInterestData)" ng-disabled="!isAoIDirty" translate>Confirm crop</a>
                        </div>
                        <div class="form__row">
                            <button class="btn btn--ui-dark btn--hollow" ng-click="showAreaOfInterestView()">{{ 'Crop' | translate }}</button>
                            <button class="btn btn--ui-dark btn--hollow" ng-click="controls.rotate = controls.rotate - 90">{{ 'Rotate left' | translate }}</button>
                            <button class="btn btn--ui-dark btn--hollow" ng-click="controls.rotate = controls.rotate + 90">{{ 'Rotate right' | translate }}</button>
                        </div>
                        <div class="form__row">
                            <div class="sd-line-input sd-line-input--dark-ui">
                                <label class="sd-line-input__label" translate>Brigtness {{controls.brightness}}</label>
                                <input type="range" class="sd-slider__range" min=".5" max="1.5" step=".05" ng-model="controls.brightness" ng-dblclick="controls.brightness = 1">
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="sd-line-input sd-line-input--dark-ui">
                                <label class="sd-line-input__label" translate>Contrast {{controls.contrast}}</label>
                                <input type="range" class="sd-slider__range" min=".5" max="1.5" step=".05" ng-model="controls.contrast" ng-dblclick="controls.contrast = 1">
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="sd-line-input sd-line-input--dark-ui">
                                <label class="sd-line-input__label" translate>Grayscale {{controls.grayscale}}</label>
                                <input type="range" class="sd-slider__range" min="0" max="15" step=".05" ng-model="controls.grayscale" ng-dblclick="controls.grayscale = 0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
